/* h1{
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: calibri;
  text-shadow: 2px 2px black;
}
header{
  background-color: #26474e;
padding: 2px;
color: white;
font-size: 40px;
margin-top: -8px;
width: 101%;
margin-left: -8px;
}
.login{
  position:relative;
  width: 30%;
  top:15px;
  padding: 30px;
  height: 350px;
  float: left;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: -20px 0 15px rgba(0,0,0,0.2);
  margin-left: 35%;
}
h2{
  font-family: calibri;
  margin-top: -10px;
  text-align: center;
  font-size: 40px;
}
#selection{
  font-family: calibri;
  cursor: pointer;
  display: block;
  border-radius: 25px;
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  border: 2px solid grey;
  margin-bottom: 30px;
}
input{
    font-family: calibri;
  display: block;
  border-radius: 25px;
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  border: 2px solid grey;
}

button{
    font-family: calibri;
  border-radius:32px;
  margin-top: 10px;
  font-size: 20px;
  margin-top:15px;
  width: 100%;
  color: white;
  background:  #B71C1C;
  border: 2px solid  #B71C1C;
  transition: 0.5s;
  cursor: pointer;
}
 */
.App {
  text-align: center;
  /*background: rgba(204, 204, 204, 0.5);*/
}


.App-header {
  background-color: #15324B;
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 20px;
  margin: 0px;
}

.App-title {
  font-size: 1.8em;
}
